#header {
    text-align: center;
    border-style: ridge;

}

body {

    background-color: aliceblue;
}

#container {
    text-align: center;

}

#taskForm {
    text-align: center;
    box-sizing: border-box;
    border-style: none;
}

#taskSection {
    width: fit-content;

}