#main {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: aliceblue;   
    justify-content: space-between;
}

#header {
    justify-self: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    border-color: steelblue;
    background-color: lightsteelblue;
    width: 100%;

}

#sideBar {
    position: absolute;
    top: 150px;
    padding-top: 2rem;
    background-color: lightsteelblue;
    width: 11rem;
    height: 100vh;

}

#Project {
    color: black;
    opacity: 100%;
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 5%;
}

#container {
    padding: 2%;
    position: relative;
    left: auto;
    text-align: center;
    justify-content: center;
} 

#inputContainer{
    position: relative;
    margin: auto;
    font-size: larger;
    text-align: center;
    width: 60%;
    left: 1rem;
}

#editContainer {
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding: 2%;
    border: none;
    width: 50%;
    position: relative;
    margin: auto;
}

#descEdit, #taskEdit, #dateEdit {
    font-size: larger;

} 

#editSubmit {
    width: auto;
    background-color: teal;
    color:whitesmoke;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding:2%;

}

#editCancel {

    width: auto;
    background-color: red;
    color:whitesmoke;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding:2%;
}

#submitBtn {
    width: 100%;
    font-size: large;
    text-align: center;
    justify-content: center;
    background-color: teal;
    color: whitesmoke;
    padding: 2%;
}

#cancelSubmit {

    width: fit-content;
    font-size: large;
    text-align: center;
    justify-content: center;
    background-color: red;
    color: whitesmoke;
    padding: 2%;

}

#addTask {
width: 40%;
font-size: large;
text-align: center;
justify-content: center;
background-color: teal;
color: whitesmoke;
padding: 1%;
}

#taskInput, #taskDescription, #projectInput {
    display: flex;
    width: 100%;
    font-size: large;
    border: none;
    padding-bottom: 2%; 
    padding-top: 2%;   
}

#dateSelect {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hamburgerMenu {
    padding:2%;
    width: fit-content;
    margin: left;

}

.ham-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;

}

#taskSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    margin: auto;
}

.taskItem {
    position: relative;
    text-align: left;
    font-size: large;
    height: fit-content;
    width: 80%;
}

.checkBox {
    display: inline-block;
    padding: 1em;
    height: 25px;
    width: 25px;

}

.taskTitle {
    display: inline;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.taskContent {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    flex-wrap: wrap;
    
}

.hide {
    visibility: hidden;
}

.hide-bar {
    transform: translateX(-200%);
    position: absolute;
    transition: transform .5s;
}


.unhide-bar {
    transform: translateX(0%);
    transition: transform .5s;
    
}

.side-project {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 2%;
    border: none;
}

.list-style {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding:1%;
    border: none;

}


.triangle-right {
    float:right;
    width: 0;
    height: 0;
    border-top: .5rem solid transparent;
    border-left: 1rem solid teal;
    border-bottom: .5rem solid transparent;
    position: static;
    pointer-events: none;

  }

  .triangle-down {
    float: right;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: 1rem solid teal;
    position: static;
    pointer-events: none;
  }

